<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow p-4" style="width: 400px;">
    <h3 class="text-center mb-4">Criar Conta</h3>

    <div *ngIf="successMessage" class="alert alert-success text-center" role="alert">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" [innerHTML]="errorMessage" class="alert alert-danger text-center" role="alert">

    </div>

    <form [formGroup]="form" (ngSubmit)="registrar()">
      <div class="mb-3">
        <po-email name="email" formControlName="email" p-label="Email"></po-email>

        <small class="text-danger ms-1" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          <span *ngIf="form.get('email')?.errors?.['required']">O campo Email é obrigatório.</span>
          <span *ngIf="form.get('email')?.errors?.['email']">Formato de email inválido.</span>
        </small>
      </div>

      <div class="mb-3">
        <po-password name="password" formControlName="senha" p-label="Senha"></po-password>

        <small class="text-danger ms-1" *ngIf="form.get('senha')?.touched && form.get('senha')?.invalid">
          <span *ngIf="form.get('senha')?.errors?.['required']">A senha é obrigatória.</span>
          <span *ngIf="form.get('senha')?.errors?.['minlength']">A senha deve ter no mínimo 6 caracteres.</span>
          <span *ngIf="form.get('senha')?.errors?.['maxlength']">A senha deve ter no máximo 100 caracteres.</span>
        </small>
      </div>

      <div class="mb-3">
        <po-password name="password" formControlName="confirmarSenha" p-label="Confirmar Senha"></po-password>

        <small class="text-danger ms-1"
          *ngIf="form.get('confirmarSenha')?.touched && (form.get('confirmarSenha')?.invalid || form.errors?.['senhasDiferentes'])">
          <span *ngIf="form.get('confirmarSenha')?.errors?.['required']">A confirmação de senha é obrigatória.</span>
          <span *ngIf="form.errors?.['senhasDiferentes']">As senhas não coincidem.</span>
        </small>
      </div>

      <div class="d-flex justify-content-center my-3">
        <po-button p-label="Registrar" (p-click)="registrar()"> </po-button>
      </div>

      <div class="text-center">
        <a routerLink="/login">Já possui conta? Entrar</a>
      </div>

    </form>
  </div>
</div>