<div class="container mt-4">
  <h2 class="mb-3">Relatórios de Produtos</h2>
  <div class="card shadow-sm p-4 rounded-3 border-0">
    <h5 class="mb-3 fw-semibold text-primary">Gerar Relatório</h5>

    <div class="row gy-3 align-items-end">

      <div class="col-md-6">
        <label class="form-label fw-semibold">Intervalo de Data</label>
        <po-datepicker-range [(ngModel)]="intervaloData" name="datepickerRange" >
        </po-datepicker-range>
      </div>

      <div class="col-md-6 mb-2">
        <po-button p-label="Solicitar Relatório" (p-click)="SolicitarRelatorio()"> </po-button>
      </div>

    </div>

    <div *ngIf="errorMessage" class="mt-3 alert alert-danger py-2">
      {{ errorMessage }}
    </div>
  </div>


  <div class="card p-3 shadow-sm">
    <h5 class="mb-3">Lista de Relatórios</h5>
    <po-table [p-items]="relatorios"> </po-table>

  </div>
</div>