<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow p-4" style="width: 350px;">
    <h3 class="text-center mb-4">Login</h3>

    <div *ngIf="successMessage" class="alert alert-success text-center" role="alert">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" [innerHTML]="errorMessage" class="alert alert-danger text-center" role="alert">
      {{ errorMessage }}
    </div>

    <form [formGroup]="form">

      <div class="mb-3">
        <po-email name="email" formControlName="email" p-label="Email">
        </po-email>

        <small class="text-danger ms-1" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          <span *ngIf="form.get('email')?.errors?.['required']">
            O campo Email é obrigatório.
          </span>
          <span *ngIf="form.get('email')?.errors?.['email']">
            Formato de email inválido.
          </span>
        </small>
      </div>

      <div class="mb-3">
        <po-password name="password" formControlName="senha" p-label="Senha">
        </po-password>

        <small class="text-danger ms-1" *ngIf="form.get('senha')?.touched && form.get('senha')?.invalid">
          <span *ngIf="form.get('senha')?.errors?.['required']">
            O campo Senha é obrigatório.
          </span>
        </small>
      </div>

      <div class="d-flex justify-content-center my-3">
        <po-button p-label="Entrar" (p-click)="login()"> </po-button>
      </div>

      <div class="text-center">
        <a routerLink="/register">Criar conta</a>
      </div>
    </form>
  </div>
</div>